div.block {
    width: 90%;
    margin: auto;
}

div#header {
    padding: 20px;
    height: 1024px;

}

div#header::after {
    height: 1024px;
    content: "";
    opacity: 0.3;
    background-size: cover;
    background-image: url("../img/header_bg.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

p.header1 {
    text-align: center;
    font-size: 100px;
    color: hotpink;
}

p.header2 {
    text-align: center;
    font-size: 70px;
    color: black;
}

p.header3 {
    margin-top: 80px;
    text-align: center;
    font-size: 30px;
    color: black;
    font-style: italic;
}

img.slide {
    display: inline;
    margin: 5px;
    max-height: 250px;
}



#overlay {
    opacity: 0.98;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 1000;
}


#overlay-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 95%;
    width: auto;
    position: relative;
    top: 1.5%;
}

#closeButton {
    opacity: 0.8;
    color: white;
    font-size: 20pt;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 199;
}

#closeButton:hover, .slide:hover {
    cursor: pointer;
}
